html ,body{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #FFF7F1;
}


/* ----------------------------------My Nav Bar------------------------------------------ */
.mynav{
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  z-index: 10;
  height: 8vh;
  justify-content: space-between;
  font-family: "Anta", sans-serif ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #dadada;
}

.mynav .navlogo{
  display: flex;
  align-items: center;
  font-size: 1.2vw;
}
.mynav .navlogo h3{
  font-size: 1.5vw;
}
.mynav .navlogo .navItems{
  display: flex;
  align-items: center;
  padding: 0 2vw;
  gap: 1.2vw;
}
.mynav .navlogo .navItems h4{
  font-size: 1vw;
}

.mynav .socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 25%; /* Adjust as needed */
  height: 100%;
  margin-right: 2vw;
}

.social {
  transform: scale(1em);
  width: 2vw; /* Adjust as needed */
  height: 2vw; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}
.mynav .mobilemenue{
  display: none;
}
.twitter:hover {
  background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}

.facebook:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}

.google-plus:hover {
  background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}

.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social svg {
  fill: white;
  height: 1vmax;
}

/* ------------------------------------------------------------------------------------------------------------------------ */


/* .navbarmine {
  position: relative;
  
} */

/* ---------------------------------------------Home Section----------------------------------------------------------------- */
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
 /* Adjust the value as needed */
  /* background-color: #00fffb; */
}
.home .left{
  width: 50%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .homeimg{
  width: 60%;
  height: 70%;
}

.home .right{
  display: flex;
  flex-direction: column;
  gap:3vmax;
  justify-content: center;
  align-items:flex-start;
  width: 50%;
  height: 100%;
  /* background-color: red; */
}

.home .right h2{
  font-family: "Anta", sans-serif;
  font-size: 3vw;
  text-align: left;
  width: 100%;
}
.home .right h2 span{
  color: #e23521;
}
.home .right h4{
  font-family: "Anta", sans-serif;
  font-size: 1.5vw;
  text-align: left;
  width: 80%;
  line-height: 2vmax;
}
.home .right .homebtns{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  gap: 10%;
}
.home .right .homebtns .hombtn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 10em;
  height: 3em;
}

.home .right .homebtns .hombtn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home .right .homebtns .hombtn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.home .right .homebtns .hombtn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.home .right .homebtns .hombtn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

.about{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  gap: 2vh;
  /* background-color: brown; */
  margin-top: 8vh;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  /* overflow-x:hidden; */
  /* overflow-y: scroll;  */
}

.about .fd-about{
  position: relative;
  display: flex;
  /* overflow-x:hidden; */
  flex-direction: row;
  width: 90%;
  align-items: center;
  /* order: 1; */
  justify-content: space-around;
  height: 80%;
  /* background-color: pink; */
  margin-bottom: 2vh;
  margin-top: 5px;
}
.about .fd-about .about-left{
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: skyblue; */
  margin-top: 9vh;
  width: 50%;
}

.about .fd-about .about-left h1{
  font-family: "Anta", sans-serif;
  font-size: 5.8vmax;
  margin-top: 4vh;
  text-align: left;
}
.about .fd-about .about-left h2{
  font-family: "Anta", sans-serif;
  font-size: 4vmax;
  text-align: left;
}
.about .fd-about .about-left h3{
  font-family: "Anta", sans-serif;
  margin-top: 5vmax;
  font-size: 3vmax;
  text-align: left;
}
.about .fd-about .about-left h3 span{
  font-family: "Anta", sans-serif;
  margin-top: 5vmax;
  font-size: 3vmax;
  text-align: left;
}
.about .fd-about .about-left p{
  font-family: "Anta", sans-serif;
  font-size: 1.1vmax;
}
.about .fd-about .myimg{
  overflow-x:hidden;
  width: 30%;
  height: 80%;
  background-size: contain;
  border-radius: 50%;
}

.about .sd-about{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: crimson; */
  width: 90%;
  height: max-content;
}
.about .sd-about h1{
  font-family: "Anta", sans-serif;
  font-size: 3vmax;
  margin-top: 4vh;
  /* text-align: left; */
}

.about .td-about{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
  width: 90%;
  height: 50vmax;
  margin-bottom: 3vh;
}

.about .td-about h1{
  font-family: "Anta", sans-serif;
  font-size: 4vmax;
  margin-top: 4vh;
  text-align: left;
}
.about .td-about .skills{
  position: relative;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* background-color: crimson; */
  width: 90%;
  height: 100%;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}


/* =======================================Discord Black ----------------------------------------------------------*/
.card {
  


  position: relative;
  width: 12vmax;
  font-family: "Anta", sans-serif;
  height: 17vmax;
  background-color: #230f4d24;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff00;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  
}

.card svg {
  width: 100%;
  height: 80%;
  align-items: center;
  fill: black;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #230f4d24;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 2vmax;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 1.5vmax;
  color: #777;
  line-height: 1.4;
}

/* ======================================================================================================= */


.about .certi-about{
  position: relative;
  width: 90%;
  height: max-content;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.about .certi-about h1{
  font-family: "Anta", sans-serif;
  font-size: 4vmax;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.about .certi-about img{
  border: 2px solid white;
  padding: 15px 15px;
  border-radius: 10%;
  background-size: auto;
  /* background-color: blue; */
  width: 50vmax;
  height: 35vmax;
}

.about .certi-about .certi-img{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: nowrap;
}
.about .certi-about .certi-img .arrow{
  /* background-color: blue; */
  height: 50px;
  width: 50px;
}
/* ==================================================================================== */

.about .edu{
  position: relative;
  width: 90%;
  height: max-content;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.about .edu h1{
  font-size: 4vmax;
  /* margin-top: 4vh; */
  margin-bottom: 2vh;
}

/* Edu Timeline================================== */
.about .edu .container{
  font-family: "Anta", sans-serif;
  font-size: 1.5vmax;
  padding: 0 25px;
  margin: 0 60px;
  ul{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      height: 100%;
      border: 1px dashed #aaa;
    }
  }
}
 .box{
  margin: 50px 0;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 40vw;
  position: relative;
  letter-spacing: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.3);
  >span{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    border: 1px solid #ccc;
    &:before,
    &:after{
      content: "";
      position: absolute;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 2px solid #ccc;
      background: #01579B;
      border-radius: 100%;
    }
    &:before{
      top: -12px;
    }
    &:after{
      top: 100%;
    }
  }
  .title{
    font-size: 2vw;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .sub-title{
    font-size: 1.5vw;
    color: #5c5b5b;
  }
  .info{
    margin: 15px 0;
    font-size: 1vw;
  }
  .time{
    span{
      position: absolute;
      font-size: 1rem;

      &:first-child{
        top: -25px;
        left: -100px;
      }
      &:last-child{
        top: 100%;
        left: -100px;
      }
    }
  }
}



/* ------------------------------------------------------------------------------------------------------------------------------------ */


.projects{
  position: relative;
  font-family: "Anta", sans-serif;
  /* background-color: skyblue; */
  width:100vw;
  height: max-content;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: nowrap;
}
.projects .p1{
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 8vh;
  align-items: center;
  gap: 5vh;
  height: 50vh;
  width: 90%;
  /* background-color: crimson; */
}

.projects .p1 h1{
  font-size: 3vmax;
  /* border: 2px solid; */
  margin-bottom: 2vh;
  margin-top: 1vh;
}
.projects .p1 .p1-inner{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* margin-top: 10vh; */
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;

}
.projects .p1 .p1-inner iframe{
  padding: 10px 10px;
  margin-left: 2vw;
  /* border: 2px solid ; */
  border-radius: 2%;
}
.projects .p1 .p1-inner .desc{
  /* border: 2px solid; */
  border-radius: 1%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  /* background-color: red; */
  justify-content: left;
  align-items: left;
  margin-left: 5vw;
  text-align: justify;
  gap: 1vh;
}

.projects .p1 .p1-inner .desc h3{
  
  border-bottom: 2px solid;
  font-size: 2vmax;
  margin-bottom: 2vh;
}

.projects .p2{
  padding: 10px 10px;
  margin-top: 4vh;
  /* border: 2px solid; */
  position: relative;
  height: 80vh;
  width: 90%;
  /* background-color: cornsilk; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

}

.projects .p2 h2{
  font-size: 2vmax;
  /* border-top: 2px solid; */
}
.projects .p2 h3{
  margin-top: 2vh;
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 2vh;
  /* border-bottom: 2px solid; */
}
.projects .p2 .tech{
  justify-content: center;
  margin-top: 5vh;
}
.projects .p2 .techstack{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5vmax;
  width: 90%;
  height: 100%;
  /* background-color: coral; */
  margin-bottom: 5vh;
}

.projects .p3{
  position: relative;
  /* border: 2px solid; */
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 5vh;
  /* background-color: red; */
}
.projects .p3 .project-img{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-bottom: 5vmax; */
  justify-content: space-evenly;
  align-items: center;

}

.projects .p3 .project-img .projimgcol{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
}
.projects .p3 .project-img .projimgcol img{
  width: 100%;
  height: 50%;
  margin: 5px 5px;
  background-size: auto;
  border: 2px solid;
  border-radius: 10%;
}



.contactform{
  position: absolute;
  border: 2px solid;
  border-radius: 1%;
  top: 20%;
  left: 20%;
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  background-color: #d2e6f6;
  box-shadow: #777 ;
  height: 70%;
}
.contactform .left{
  position:relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* background-color: crimson; */
  justify-content: top;
}
.contactform .left h1{
  margin-top: 5%;
  font-size: 3vw;
}

.contactform .left .contact-details{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  /* background-color: #5c5b5b; */
  margin-top: 4%;
  justify-content: left;
  margin-left: 10%;
  align-items: center;
}

.contactform .left .contact-details h4{
  margin-left: 2%;
  font-size: 1vw;
}
.contactform .left .h4{
  text-align: left;
  font-size: 1.5vw;
  margin-top: 5%;
  margin-left: 5%;
}
.contactform .right{
  position:relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  background-color: lightseagreen;
}



.contactform .right h1{
  text-align: left;
  margin-top: 5%;
  font-size: 3vw;
  margin-left: 5%;
}

.contactform .right .inp{
  border: 2px solid;
  height: 10%;
  background-color: rgba(32, 178, 171, 0.615);
  border-radius: 50px;
  padding-left: 2vw;
  margin-top: 5%;
  font-size: 1vw;
  width: 80%;
}





/* -----------------------------------------Mobile Css---------------------------------------------------------------- */

@media (max-width:700px) {
  /* -------------------------------------Nav------------------------------- */
  .mynav{
    position: relative;
  }
  .mynav .navlogo{
    display: flex;
    align-items: center;
    font-size: 1.2max;
  }
  .mynav .navlogo .navimg{
    transform: scale(1.8);
  }
  .mynav .navlogo h3{
    font-size: 3vmax;
  }
  .mynav .navlogo .navItems{
    display: flex;
    align-items: auto;
    padding: 0 2vw;
    gap: 1.2vw;
  }
  .mynav .navlogo .navItems h4{
    display: none;
    font-size: 1.5vmax;
  }
  .mynav .socialIcons {
    display: none;
  }
  .mynav .mobilemenue{
    display: block;
    font-size: 5vmax;
    margin-right: 1.5vmax;
    backdrop-filter: blur(10px);
  }
  .mynav img{
    transform: scale(0.5);
  }

  .mynav .mobilemenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:7vh;
    width: 100vw;
    height: 100rem;
    backdrop-filter: blur(10px);
    background-color: #fff7f19b;
    /* z-index: 99; */
  }
  .mynav .mobilemenu h4{
    font-size: 2.5vmax;
    margin: 5vh 0vh;
    text-align: center;
    /* background-color: #fff7f15f; */
  }
  .mynav .mobilemenu label{
    align-items: center;
    padding-left: 45%;
    transform: scale(3.5);
    /* background-color: #fff7f15f; */
    width: 100%;
    margin-bottom: 5vh;
  }

  .mynav .mobilemenu .mb-social-icon{
    /* background-color: #fff7f15f; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* ---------------------------------------------------------------------------------*/

  /* --------------------------------------Home section's --------------------------------*/
  .home {
    position: relative;
    margin-top: 2.5vmax;
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .home .homeimg{
    width: 100%;
    height: 100%;
  }
  .home .right{
    display: flex;
    flex-direction: column;
    gap:3vmax;
    justify-content: center;
    align-items:flex-start;
    width: 75%;
    height: 100%;
    /* background-color: red; */
  }
  
  .home .right h2{
    font-family: "Anta", sans-serif;
    font-size: 4vmax;
    text-align: left;
    width: 100%;
  }
  .home .right h2 span{
    color: #e23521;
  }
  .home .right h4{
    font-family: "Anta", sans-serif;
    font-size: 2.2vmax;
    text-align: justify;
    width: 100%;
    line-height: 2.5vmax;
  }
  .home .right .homebtns{
    transform: scale(1);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 10%;
    margin-bottom: 3vmax;
  }
  /* -------------------------------------------------------------------------------------------------------------------------------- */
  /* -------------------------------------------About--------------------------------------------------------------- */
  .about .fd-about{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    /* background-color: pink; */
  }
  .about .fd-about .about-left{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: skyblue; */
    width: 100%;
  }
  .about .fd-about .myimg{
    width: 80%;
    height: 80%;
    background-size: cover;
    border: 2px solid crimson;
    border-radius: 50%;
    margin-top: 0vh;
  }

  .about .fd-about .about-left p{
    font-size: 1.8vmax;
  }

  .about .sd-about h1{
    font-family: "Anta", sans-serif;
    font-size: 5vmax;
    /* text-align: left; */
  }

  .about .td-about h1{
    font-family: "Anta", sans-serif;
    font-size: 5vmax;
    /* text-align: left; */
  }

  .about .certi-about h1{
    font-family: "Anta", sans-serif;
    font-size: 5vmax;
    margin-top: 10vmax;
    /* text-align: left; */
  }
  .about .certi-about img{
    border: 2px solid white;
    border-radius: 5%;
    background-size: auto;
    /* background-color: blue; */
    width: 80%;
    height: 50%;
  }
  
  .about .certi-about .certi-img{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* width: 50%; */
    flex-wrap: nowrap;
    margin-bottom: 5vh;
  }
  .about .certi-about .certi-img .arrow{
    /* background-color: blue; */
    height: 80px;
    width: 80px;
  }


  
.about .edu{
  position: relative;
  width: 90%;
  height: max-content;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.about .edu h1{
  font-size: 4vmax;
  /* margin-top: 4vh; */
  margin-bottom: 2vh;
}

/* Edu Timeline================================== */
.about .edu .container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Anta", sans-serif;
  width: 100%;
  font-size: 2vmax;
  padding: 0 25px;
  margin: 0 60px;
  ul{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      height: 100%;
      border: 1px dashed #aaa;
    }
  }
}
.box{
  margin: 50px 0;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 60vw;
  
  position: relative;
  letter-spacing: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.3);
  >span{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    border: 1px solid #ccc;
    &:before,
    &:after{
      content: "";
      position: absolute;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 2px solid #ccc;
      background: #01579B;
      border-radius: 100%;
    }
    &:before{
      top: -12px;
    }
    &:after{
      top: 100%;
    }
  }
  .title{
    font-size: 2.5vmax;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .sub-title{
    font-size: 2vmax;
    color: #5c5b5b;
  }
  .info{
    margin: 15px 0;
    font-size: 1.5vmax;
  }
  .time{
    span{
      position: absolute;
      font-size: 1rem;

      &:first-child{
        top: -25px;
        left: -70px;
      }
      &:last-child{
        top: 100%;
        left: -70px;
      }
    }
  }
}
/* ==============================================Edu Timeline COde Ended=========================================== */


/* ================================Project Page started============================================================== */

  

.projects{
  position: relative;
  font-family: "Anta", sans-serif;
  /* background-color: skyblue; */
  width:100vw;
  height: max-content;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.projects .p1{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 5vh;
  align-items: center;
  gap: 2vh;
  height: max-content;
  width: 90%;
  /* background-color: crimson; */
}


.projects .p1 h1{
  font-size: 3.5vmax;
  /* border: 2px solid; */
  margin-top: 0.5vh;
}
.projects .p1 .p1-inner{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  /* background-color: #01579B; */
  align-items: center;

}
.projects .p1 .p1-inner iframe{
  width: 90%;
  height: 40vh;
  border-radius: 10%;
  border: 2px solid;
  margin-top: 0;
  margin-bottom: 5vh;
}
.projects .p1 .p1-inner .desc{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: center;
  text-align: justify;
  gap: 1vh;
}

.projects .p1 .p1-inner .desc h3{
  position: relative;
  border-bottom: 2px solid;
  font-size: 3.5vmax;
  /* margin-bottom: 2vh; */
}
.projects .p1 .p1-inner .desc h4{
  font-size: 1rem;
}

.projects .p2{
  position: relative;
  margin-top: 4vh;
  height: max-content;
  width: 90%;
  /* background-color: cornsilk; */
  display: flex;
  flex-direction: column;
}

.projects .p2 h2{
  font-size: 3.5vmax;
  /* border-top: 2px solid; */
}
.projects .p2 h3{
  margin-top: 2vh;
  font-size: 1rem;
  text-align: justify;
  /* align-items: right; */
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
  /* border-bottom: 2px solid; */
}
.projects .p2 .tech{
  justify-content: center;
  margin-top: 5vh;
  /* background-color: cadetblue; */
  font-size: 3.5vmax;
}
.projects .p2 .techstack{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vmax;
  width: 100%;
  height: 50vmax;
  /* background-color: coral; */
  flex-wrap: wrap;
  margin-bottom: 2vh;
}
.projects .p2 .techstack .card{
  width: 15;
  height: 20vmax;
}

.projects .p2 .techstack .card .card__content .card__title{
  font-size: 2vmax;
}
.projects .p2 .techstack .card .card__content .card__description{
  font-size: 1.5vmax;
}
.projects .p3{
  position: relative;
  height: max-content;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 5vh;
  /* background-color: cadetblue; */
}
.projects .p3 h1{
  font-size: 3.5vmax;
}
.projects .p3 .project-img{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-bottom: 5vmax; */
  /* background-color: #00acee; */
  flex-wrap: wrap;
  align-items: flex-start;
}

.projects .p3 .project-img .projimgcol{
  display: flex;
  flex-direction: row;
  /* background-color: #fff; */
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 2.5vmax;
}
.projects .p3 .project-img .projimgcol img{
  width: 100%;
  height: 100%;
  margin: 5px 5px;
  border: 2px solid;
  border-radius: 10%;
}
/* ==================================================================================================================== */

.contactform{
  height: max-content;
}

.contactform #getdetails{
  transform: scale(0.5);
}

}